*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    font-family: "Poppins", sans-serif;
    width:100%;
    background-color: #f5f5f5;
}
#home{
    width:100%;
    height:100vh;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('images/hero-cover.png');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    color:white;

}
.nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    width: 90%;
    margin-left: 7%;
    height:70px;

}
.logo{
    font-size: 23px;
    font-weight: bold;
    margin-right: 70px;
    margin-top: 18px;
    height: fit-content;
}
.links{
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;

}
.links >.navLinks{
    display:flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: fit-content;
}

.links > .navLinks > li{
    margin-right:20px;
    color: white;
    font-size: 16px;
}
.login{
    display:flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.login > button{
    border:none;
    background-color: rgb(10, 134, 179);;
    padding:10px 20px;
    color:white;
    border-radius:5px;
    font-size: 16px;
}
.body-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:85vh;
    text-align: center;
}
.body-content > h1{
    margin-bottom: 20px;
}
.body-content > p{
    margin-bottom: 20px;
}
/* .btn-section{
    display:flex;
} */
.btns-section{
    .btn2:hover{
        background-color: rgb(10, 134, 179); ;
        color: #f5f5f5;
        border: none;
        outline: none;
    }
}
.btn1{
    width:120px;
    border: none;
    background-color: rgb(10, 134, 179); ;
    padding: 10px;
    border-radius: 15px;
    color: #f5f5f5;
    margin-right: 20px;
}
.btn2{
    width:100px;
    border: none;
    transition: background-color 0.5s ease-in;
    background-color: transparent;
    border: 1px solid white;
    padding:10px;
    border-radius: 15px;
    color:white;
    
}
.img{
    width:70px;
    height: 60px;
}
.floatTop{
    width: 100%;
    height:auto;
    position:absolute;
    top: 80%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    overflow: hidden;
}

.floatTop > .card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:30px;
    background-color: white;
    margin-bottom:2% ;
    padding: 30px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);

    p{
        color: gray;
    }
    
}
.people{
    color:rgb(10, 134, 179);
    width:40px;
    height:100px;
}
#bd{
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    margin-bottom: 30px;                     
}
.content1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 10%;
    padding: 100px 20px;
}
.peace{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:10px;
    width:300px;
    h5{
        margin-bottom: 10px;
    }
}

#industry{
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 120px;
}
#industry .desc{
    margin-top: 30px;

}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    gap: 40px;
}
.industryCard{
    width:350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:30px;
    border: 1px solid rgb(220, 220, 220);
    background-color: white;
    border-radius: 10px;
}
.industryCard > img:nth-child(1){
    width:120px;
    height: 120px;
}
.industryCard>p{
    margin: 20px 0px 20px 0px;
    color: gray;
    line-height: 1.3rem;
}
.logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60%;
    margin: 0 auto;
    margin-bottom: 40px;;
    
}
.images{
    width: 40px;
    height: 37px;
}
.gradient{
    width:66%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    margin: 0 auto;
    margin-bottom: 70px;
    background: linear-gradient(to right, purple,rgb(245, 8, 174)
    )
}
.gradient > div > button{
    padding: 15px;
    outline: none;
    border: none;
    color: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(10, 134, 179);;

}

.gradient > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gradient > div > input{
    padding: 15px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.gradient > p{
    color: white;
}
#pricing{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}
#pricing > h1{
    margin-bottom: 10px;
}
#pricing > p{
    margin-bottom: 20px;
}
.priceContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 60px;
}
.free, .standard ,.premium{
    max-width: 28%;
    border:1px solid  rgb(60, 199, 241) ;
    border-radius: 10px;
    padding: 20px;
    h2{
        margin-bottom: 20px;
    }
}

.standard{
    background-color: rgb(2, 9, 49);
    color:white;
    height: 105%;

}
.organize{
    margin-bottom: 20px;
}
.price{
    display:flex;
    gap:10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: rgb(60, 199, 241);
}
.amount{
    font-size: 23px;
    font-weight: bold;
}
.dollar{
    font-size: 15px;
}
.tick{
    display: flex;
    align-items: center;
    justify-content: start;
    gap:5px;
    margin:0 auto;
    padding: 10px;
}
.tick p{
    font-size: 12px;
}
.green{
    color: rgb(62, 163, 37);
}
.gray{
    color: rgb(150, 150, 150);
}
.cardBtn{
    padding:10px;
    width:80%;
    border:none;
    outline: none;
    border-radius:5px;
    background-color: rgb(10, 134, 179);
    color:white;
    margin-bottom:30px;
}
#branches{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(2, 7, 37);
    color:white;
    height: 90vh;
    p{
        font-size: 15px;
    }
}
.upper{
    display: flex;
    justify-content: center;
    height: 300px;

}
#branches .branchContent{
    max-width: 30%;
    margin-right: 50px;
    p{
        font-size: 15px;
    }
}

.map img{
    width:250px;
    height: 150px;
}
.appointment{
    width:60%;
    height:400px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* gap: 30px; */
    background-color: white;
    grid-template-areas: 'i d d';
    position: absolute;
    margin-top:50% ; 
    margin-left: 22%;
    
}
.fam{
    grid-area: i;
    background: url("./images/contact.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.details{
    grid-area: d;
    display: flex;
    flex-direction: column;
    padding:0px 20px;
    p{
        color: #000;
        font-size: 15px;
        margin-bottom: 10px;
    }
    h2{
        font-weight: bold;
        color: #000;
        text-align: center;
        margin-top: 30px;
    }
    input, select{
        border: none;
        padding: 10px;
        background-color: lightgrey;
        margin-bottom: 10px;
        border-radius: 5px;
    }
}
.appointmentBtn{
    border: none;
    padding: 10px;
    background-color: rgb(10, 134, 179);
    color:white;
    border-radius: 5px;
    margin-top: 15px;
}
#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height:70vh;
    flex-direction: column;
    max-width: 70%;
    margin:300px auto;
    margin-bottom: 0;
    /* gap:50px; */
}
.footerContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
.text > p{
    font-size: 10px;
    color: rgb(150, 150, 150);
    margin-top: 10px;
}
.contact{
    width:150px;
    border: none;
    border-radius:5px;
    color: white;
    background-color: rgb(10, 134, 179); 
    margin-left: 30px;
    padding:10px;
}
.footerLinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    width:100%;
}
ul li{
    list-style: none;
    font-size: 10px;
    color: rgb(150, 150, 150);
    margin-top: 20px;
}
.made{
    display: flex;
    justify-content: space-between;
    width:100%;
    font-size: 10px;
    color: rgb(150, 150, 150);
    margin-top:50px;
}
.madeIcons{
   display:flex ;
   justify-content: space-between; 
}
.socials{
    color: rgb(60, 199, 241) ;
    width:20px;
    height: 20px;
    margin-right:10px;
}
@media screen and (max-width:1142px){
    .appointment{
        margin-top: 80%;

    }


}
@media screen and (max-width:890px){
    .logo{
        margin-right: 50px;
    }
    .login > button{
        font-size: 14px;
    }
    .appointment{
        margin-top: 85%;
    }
    #footer{
        margin:250px auto;
        margin-bottom: 0;
    }
}

@media screen and (max-width:790px) {
    .peace{
        flex-direction: column;
    }
    .cards{
        gap:20px;
    }
    .upper{
        margin-top: 0;
    }

    .nav{
        margin-left: 5%;
        /* width:100%; */
        display: none;
    }
    .login > button{

        font-size:13px ;
        padding: 10px;
    }

    .logo{
        font-size: 18px;
    }
    .navLinks > li{
        font-size: 13px;
    }
    .appointment{
        margin-top: 110%;
    }
    #branches .branchContent {
        h1{
            font: size 18px;
        }
        p{
            font-size: 13px;
        }
    }
    .gradient > p{
        font-size: 15px;
        margin-right: 5px;
    }
    .gradient{
        padding: 10px;
    }
    .gradient > div > input{
        padding:10px;
    }
    .gradient > div > button{
        padding:10px;
    }
}
@media screen and (max-width:650px){
    .priceContainer{
        flex-direction: column;
        width:100%;
        gap:20px;
    }
    .free, .standard ,.premium{

        
    }
    .details{
        h2{
            font-size: 16px;
        }
        p{
            font-size: 13px;
        }
    }
    .appointment{
        margin-top: 120% ;
    }
    /* .floatTop > .card{
        width: 100px;
    } */

}
@media screen  and (max-width:600px){
    .content1,.cards{
        flex-direction: column;
    }
 
}
@media screen and (max-width:580px){
    .appointment{
        margin-top: 130% ;
    }
    #footer{
        width: 100%;
    }
    .gradient{
        width:80%;
    }
    .gradient > div > input{
        width: 150px;
    }
    .gradient p{
        font-size: 10px;
    }

}