*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    font-family: "Poppins", sans-serif;
    width:100%;
    background-color: #f5f5f5;
}
#home{
    width:100%;
    height:100vh;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('images/hero-cover.png');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    color:white;

}
.nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:20px;
    height:70px;

}
.logo{
    font-size: 20px;
    font-weight: bold;
    margin-right: 70px;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;

}
.links ul{
    display:flex;
    list-style: none;
}
.links ul li{
    margin-right:20px;
}
.login{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.login > button{
    border:none;
    background-color: rgb(60, 199, 241);
    padding:10px 20px;
    color:white;
    border-radius:5px;
    font-size: 16px;
}
.body-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:85vh;
    text-align: center;
}
.body-content > h1{
    margin-bottom: 20px;
}
.body-content > p{
    margin-bottom: 20px;
}
.btn-section{
    display:flex;
}
.btn1{
    width:120px;
    border: none;
    background-color: rgb(60, 199, 241) ;
    padding: 10px;
    border-radius: 15px;
    color: #f5f5f5;
    margin-right: 20px;
}
.btn2{
    width:100px;
    border: none;
    background-color: transparent;
    border: 1px solid white;
    padding:10px;
    border-radius: 15px;
    color:white;
    
}
.img{
    width:70px;
    height: 60px;
}
.floatTop{
    width: 100%;
    height:auto;
    position:absolute;
    top: 80%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.floatTop > .card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:30px;
    background-color: white;
    margin-bottom:2% ;
    padding: 30px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}
#bd{
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    margin-bottom: 30px;                     
}
.content1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 10%;
    padding: 100px 20px;
}
.peace{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:10px;
    width:300px;
    /* box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5); */
    h5{
        margin-bottom: 10px;
    }
}

#industry{
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 120px;
}
#industry .desc{
    margin-top: 30px;

}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    gap: 40px;
}
.industryCard{
    width:350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:30px;
    border: 1px solid rgb(220, 220, 220);
    background-color: white;
    border-radius: 10px;
}
.industryCard > img:nth-child(1){
    width:120px;
    height: 120px;
}
.industryCard>p{
    margin: 20px 0px 20px 0px;
    color: gray;
    line-height: 1.3rem;
}
.logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60%;
    margin: 0 auto;
    margin-bottom: 40px;;
    
}
.images{
    width: 40px;
    height: 37px;
}
.gradient{
    width:66%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    margin: 0 auto;
    margin-bottom: 70px;
    background: linear-gradient(to right, purple,rgb(245, 8, 174)
    )
}
.gradient > div > button{
    padding: 15px;
    outline: none;
    border: none;
    color: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgba(33, 208, 231, 0.959);

}

.gradient > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gradient > div > input{
    padding: 15px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.gradient > p{
    color: white;
}
#pricing{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}
#pricing > h1{
    margin-bottom: 10px;
}
#pricing > p{
    margin-bottom: 20px;
}
.priceContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 60px;
}
.free, .standard ,.premium{
    max-width: 28%;
    border:1px solid  rgb(60, 199, 241) ;
    border-radius: 10px;
    padding: 20px;
    h2{
        margin-bottom: 20px;
    }
}
.standard{
    background-color: rgb(2, 9, 49);
    color:white;

}
.organize{
    margin-bottom: 20px;
}
.price{
    display:flex;
    gap:10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: rgb(60, 199, 241);
}
.amount{
    font-size: 23px;
    font-weight: bold;
}
.dollar{
    font-size: 15px;
}
.tick{
    display: flex;
    align-items: center;
    justify-content: start;
    gap:5px;
    margin:0 auto;
    padding: 10px;
}
.tick p{
    font-size: 12px;
}
.green{
    color: rgb(62, 163, 37);
}
.gray{
    color: rgb(150, 150, 150);
}
.cardBtn{
    padding:10px;
    width:80%;
    border:none;
    outline: none;
    border-radius:5px;
    background-color: rgb(10, 134, 179);
    color:white;
    margin-bottom:30px;
}
#branches{
    display: flex;
    justify-content: center;
    background-color: rgb(2, 7, 37);
    color:white;
    height: 80vh;
}
.upper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-top: 30px;
}
#branches .branchContent{
    max-width: 30%;
    margin-right: 50px;
    p{
        font-size: 15px;
    }
}

.map img{
    width:250px;
    height: 150px;
}
.appointment{
    max-width: 500px;
    display: flex;
    background-color: white;
    /* position: absolute;
    margin-top:25% ; */
    
}
.fam{
    width:30%;
}
.fam > img{
    width:100%;  
}
.details{
}
#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:50px;
    height:80vh;
    flex-direction: column;
    gap:50px;
}
.footerContent{
    display: flex;
    /* justify-content: space-between; */

}
.contact{
    width:150px;
    border: none;
    border-radius:5px;
    color: white;
    background-color: rgb(60, 199, 241); 
}
.footerLinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
ul li{
    list-style: none;
    font-size: 10px;
    color: rgb(150, 150, 150);
}
